.dashboard__container {
	margin: 50px;
}

.dashboard__container__header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	box-sizing: border-box;
	padding: 0 30px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	background-color: #00f4e2;
	color: #1e2c4f;
}

.dashboard__container__header p {
	margin: 25px 0;
	font-size: 20px;
}

.dashboard__container__header input {
	background-color: #1e2c4f;
	color: white;
	box-sizing: border-box;
	border: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 10px;
	width: 250px;
}

.dashboard__container__header input:focus {
	outline: none;
}


.dashboard__container__header input::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: white;
}
.dashboard__container__header input::-moz-placeholder {
	/* Firefox 19+ */
	color: white;
}
.dashboard__container__header input:-ms-input-placeholder {
	/* IE 10+ */
	color: white;
}
.dashboard__container__header input::-ms-input-placeholder {
	/* Edge */
	color: white;
}
.dashboard__container__header input::placeholder {
	color: white;
}


.dashboard__container__header select {
	background-color: #1e2c4f;
	color: white;
	box-sizing: border-box;
	border: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 10px;
}

.dashboard__container__header select:focus {
	outline: none;
}

.sort__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}


.dashboard__container__body {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 50px;
	padding: 50px 0 30px;
}

.dashboard__container__body__card {
	background-color: #1e2c4f;
	color: #00f4e2;
	border: 1px solid #00f4e2;
	border-radius: 10px;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	box-shadow: 0 0 10px rgba(0, 0, 0);
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.dashboard__container__body__card:hover {
	box-shadow: 0 0 20px rgba(0, 0, 0);
	transition: all 0.3s ease-in-out;
}

.dashboard__container__body__card .name__paragraph {
	margin-top: 0;
}

.dashboard__container__body__card i {
	font-size: 25px;
	cursor: pointer;
	margin: 0 5px;
	color: #9f9f9f;
	transition: all 0.2s ease-in-out;
}

.dashboard__container__body__card .bx__edit:hover {
	color: #00f4e2;
	transition: all 0.2s ease-in-out;
}

.dashboard__container__body__card .bx__trash:hover {
	color: red;
	transition: all 0.2s ease-in-out;
}

.logout__btn {
	background-color: #1e2c4f;
	color: white;
	font-size: 14px;
	border: none;
	border-radius: 5px;
	padding: 11px 25px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.logout__btn:hover {
	background-color: red;
	transition: all 0.3s ease-in-out;
}

.add__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 50px;
	right: 50px;
	background-color: #00f4e2;
	color: #1e2c4f;
	font-size: 30px;
	border: none;
	border-radius: 50%;
	padding: 15px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

@media (max-width: 768px) {
  .dashboard__container__body {
    grid-template-columns: 1fr;
    padding: 20px 0 15px;
  }
}