body {
	background-color: #1e2c4f;
	margin: 0;
	font-family: "Montserrat", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.password__container {
	position: relative;
}

.password__input {
	padding-right: 40px;
}

.toggle__passwordBtn {
	color: #97a2bf;
	background: none;
  border: none;
  padding: 0;
	font-size: 18px;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.login__registerPara {
	margin-top: 50px;
}